@page "/"

@inject NavigationManager NavigationManager

    @if (Usuario.correo != null && Usuario.contraseña != null)
    {
        <div class="container">

        
            <h1>Gestión de Alquileres de Vehículos</h1>

            Bienvenidos a la app de Gestión de Alquileres de Vehículos, hecha por el grupo T de Programacion III. Esperamos que este trabajo sea de su agrado!

            Para iniciar, seleccione alguna opcion del menu.
        </div>
    }
    else
    {
        <div class="container">
            <h1>Gestión de Alquileres de Vehículos</h1>

            Bienvenidos a la app de Gestión de Alquileres de Vehículos, hecha por el grupo T de Programacion III. Esperamos que este trabajo sea de su agrado!
            Antes de iniciar, debe de acceder a una cuenta.


            <br>

            <p>
                Ya tienes una cuenta? <a href="/Cuentas/Login">Iniciar sesion</a>
            </p>
            <p>
                Si no tienes una cuenta <a href="/Cuentas/Register">Registrate</a>
            </p>
        </div>
    }



@code{
    Usuario us = new Usuario();
}

