@page "/"

@inject NavigationManager NavigationManager

    @if (Usuario.correo != null && Usuario.contraseña != null)
    {
        <div class="container">

        
            <h1>Hello, world!</h1>

            Welcome to your new app.

            @* <SurveyPrompt Title="How is Blazor working for you?" /> *@
        </div>
    }
    else
    {
        <div class="container">

            <h1>Hello, world!</h1>

            <p>Welcome to your new app.</p> 
            <br>

            <p>
                Ya tienes una cuenta? <a href="/Cuentas/Login">Iniciar sesion</a>
            </p>
            <p>
                Si no tienes una cuenta <a href="/Cuentas/Register">Registrate</a>
            </p>
        </div>
    }



@code{
    Usuario us = new Usuario();
}

