@page "/vehiculos"
<h3>Gestion de Vehiculos.</h3>
<p>Aqui Usted podra registrar, deshabilitar, y editar vehiculos en el sistema. </p>
<NavLink class="nav-link" href="vcreate" Match="NavLinkMatch.All">
    <span class="oi oi-check" aria-hidden="true"></span> Registrar un Vehiculo
</NavLink>
<NavLink class="nav-link" href="vedit" Match="NavLinkMatch.All">
    <span class="oi oi-check" aria-hidden="true"></span> Editar un Vehiculo
</NavLink>
<NavLink class="nav-link" href="vdel" Match="NavLinkMatch.All">
    <span class="oi oi-check" aria-hidden="true"></span> Eliminar/Deshabilitar un Vehiculo
</NavLink>
@code {

}
