@{
    ViewBag.Title = "About";
}
<h2>Informacion del Grupo</h2>
<h3>Grupo Super Trabajador T</h3>
<p>
    Bienvenid@s, este programa, hecho por el grupo T de Programacion III,
    Tiene la funcionalidad de realizar formularios para solicitar citas de Vacunacion para el Pais de Republica Dominicana.
    Para ser Registrado, por favor vaya a Pacientes, y seleccione "Crear Nuevo Registro".
    Recibira un Correo confirmando su solicitud.
</p>
<h3>Nuestro Grupo es el Siguiente:</h3>
<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Matricula</th>
        <th>Correo</th>
    </tr>
    <tr>
        <td>Johnny A. Rondon</td>
        <td>2019-8291</td>
        <td>20198291@itla.edu.do</td>
    </tr>
    <tr>
        <td>Raphiel Burdier Hernandez</td>
        <td>2019-7870</td>
        <td>20197870@itla.edu.do</td>
    </tr>
    <tr>
        <td>Mauricio Matos</td>
        <td>2018-6047</td>
        <td>20186047@itla.edu.do</td>
    </tr>
    <tr>
        <td>Alan E. Ramirez</td>
        <td>2019-8331</td>
        <td>20198331@itla.edu.do</td>
    </tr>
</table>
