@page "/RegistroCliente"

<div class="container">
    <h1 class="display-6">Registro de Clientes</h1>
    <br>
    <p>
        Utilize el formulario siguiente para registrar a los clientes
    </p>
    <br>

    <Form>
        <table class="table">
            <tr>
                <td>Cedula:</td>
                <td><input type="text" class="form-control col-sm-4">
                    <br>
                    <input type="button" value="Verificar" class="btn btn-primary">
                </td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Correo:</td>
                <td><input type="email" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Licencia:</td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Nacionalidad:</td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Tipo de sangre:</td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Foto de la persona:</td>
                <td><input type="file" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td>Foto de la licensia:</td>
                <td><input type="file" class="form-control col-sm-4"></td>
            </tr>
        </table>
    </Form>

</div>

@code {
    
}