@page "/Clientes/RegistroCliente"
@using ProyectoFinal.Models

@if (Usuario.correo != null && Usuario.contraseña != null)
{
    <div class="container">

    </div>

}
else
{
    <div class="container">
        <h1 class="display-6">Debes Iniciar Sesion con un correo valido para Vizualizar el contenido</h1>
        <br>
        <p>
            Ya tienes una cuenta? Inicia Sesion
        </p>
        <a href="/Cuentas/Login">Iniciar sesion</a>
    </div>
}

@code{

}
