@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (Usuario.correo != null && Usuario.contraseña != null)
            {
            <table>
                    <tr>
                        <th>@Usuario.correo</th>
                        @if (Usuario.RolId == 1)
                        {
                            <td>
                                <a href="/Cuentas/GestionUsuarios">Gestion Usuarios</a>
                            </td>
                        }
                        <td>
                            <input type="button" value="Cerrar Sesion" class="btn btn-secondary" @onclick="CerrarSesion"/>
                        </td>
                    </tr>
            </table>
            }
            else
            {
                <a href="/Cuentas/Login">Iniciar sesion</a>
                <a href="/Cuentas/Register">Registrarse</a>
            }
            
            <a href="/about" target="_blank">Acerca de nosotros</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    Usuario us = new Usuario();
    private void CerrarSesion()
    {
        Usuario.correo = null;
        Usuario.contraseña = null;
        NavigationManager.NavigateTo("/");
    }
}
