<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProyectoFinal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNavClientes = !expandSubNavClientes">
                <span class="oi oi-person" aria-hidden="true"></span> Gestión Clientes
            </NavLink>
            @if (expandSubNavClientes)
            {
        <NavLink class="expand-menu" href="/RegistroCliente">
            <span>Registrar Clientes</span>
        </NavLink>}
        </li>
        <li class="nav-item px-3">
        <NavLink class="nav-link" @onclick="()=>expandSubNavReportes = !expandSubNavReportes">
            <span class="oi oi-list-rich aria-hidden="true"></span> Gestión Reportes
        </NavLink>
        @if (expandSubNavReportes)
        {
          <NavLink class="expand-menu" href="/Reportes/ListadoVehiculos">
           <span>Listado de Vehiculos</span>
          </NavLink>
          <NavLink class="" href="/Reportes/ListadoBeneficios">
           <span>Listado de Beneficios</span>
           </NavLink>
           <NavLink class="" href="/Reportes/ClientesQueDeben">
           <span>Clientes que Deben</span>
           </NavLink>}
        </li>

        <li class="nav-item px-3">
        <NavLink class="nav-link" @onclick="()=>expandSubNavVehiculos = !expandSubNavVehiculos">
        <span class="oi oi-cart" aria-hidden="true"></span> Gestión Vehiculos
         </NavLink>
        @if (expandSubNavVehiculos)
        {
            <NavLink class="expand-menu" href="/Vehiculos/vehiculos">
                <span>Registro Vehiculos</span>
            </NavLink>
            <NavLink class="" href="/Reportes/VehiculosEnMapa">
                <span>Vehiculos en Mapa.</span>
            </NavLink>
        }
        </li>

        <li class="nav-item px-3">
    <NavLink class="nav-link" @onclick="()=>expandSubNavReservas = !expandSubNavReservas">
        <span class="oi oi-list" aria-hidden="true"></span> Gestión Reservas
    </NavLink>
        @if (expandSubNavReservas)
        {
            <NavLink class="expand-menu" href="/Reservaciones/Registro_Reservaciones">
                <span>Registro Reservacion</span>
            </NavLink>
        }
        </li>

        <li class="nav-item px-3">
    <NavLink class="nav-link" @onclick="()=>expandSubNavCobros = !expandSubNavCobros">
        <span class="oi oi-credit-card" aria-hidden="true"></span> Gestión Cobros
    </NavLink>
    @if (expandSubNavCobros)
    {
        <NavLink class="expand-menu" href="/Cobros/Modulo_Cobros">
            <span>Modulo de cobros</span>
        </NavLink>
    }
    </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool expandSubNavVehiculos;

    private bool expandSubNavClientes;

    private bool expandSubNavReportes;

    private bool expandSubNavReservas;

    private bool expandSubNavCobros;
}
