<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Vacunado COVID-19</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PacientesLista">
                <span class="oi oi-list" aria-hidden="true"></span> Pacientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="VProvincia">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados Provincia
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="VMarcas">
                <span class="oi oi-list" aria-hidden="true"></span> Vacunados por Marca
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="Zodiacal">
                <span class="oi oi-list" aria-hidden="true"></span> Signos Zodiacales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DropVacuna">
                <span class="oi oi-trash" aria-hidden="true"></span> Eliminar pacientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Configuracion">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuracion
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
