@page "/Clientes/cdel"
@using System.Net.Http.Json
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using ProyectoFinal.Models

<h3>Aqui podra <b>Deshabilitar</b> o <b>Eliminar</b> clientes de la base de datos.</h3>

<h3>Deshabilitar un Cliente.</h3>
<p>Escriba aqui la cedula del cliente que desee deshabilitar.</p>
<input @bind-value="@iddes" />
<button class="btn btn-block" @onclick="DesCliente">Deshabilitar cliente</button>
@mensajedes

<h3>Eliminar un cliente.</h3>
<p>Escriba aqui la cedula del cliente que desee eliminar de la base de datos (PRECAUCION: Si elimina un cliente, no
    podra recuperarlo de ninguna forma).</p>
<input @bind-value="@iddel" />
<button class="btn btn-danger" @onclick="DelCliente">Eliminar Cliente</button>
@mensajedel

@code {
    gestion_vehicularContext db = new gestion_vehicularContext();
    Clientes cliente = new Clientes();
    string iddes;
    string mensajedes = "No se ha deshabilitado ningun cliente.";
    string iddel;
    string mensajedel = "No se ha deshabilitado ningun cliente.";

    public void DesCliente()
    {
        var result = db.Clientes.Where(v => v.Cedula == iddel).FirstOrDefault();
        if (result != null)
        {
            result.ClienteActivo = "No";
            db.SaveChanges();
            mensajedes = "Cliente deshabilitado exitosamente.";
        }
        else
        {
            mensajedes = "Error encontrado en la busqueda. Cliente no deshabilitado.";
        }
    }

    public void DelCliente()
    {
        var result = db.Clientes.Single(v => v.Cedula == iddel);
        if (result != null)
        {
            db.Clientes.RemoveRange(result);
            db.SaveChanges();
            mensajedel = "Cliente eliminado exitosamente.";
        }
        else
        {
            mensajedes = "Error encontrado en la busqueda. cliente no Eliminado.";
        }
    }
}
